@import '../../../styles.scss';

.login-form{
    width: 400px;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin: 4em auto;
    box-shadow: 0 0 10px 0px rgba(160, 160, 160, 0.1);
    h3{
        text-align: center;
        font-size: $h5;
        font-weight: $medium;
        color: $greyBold;
    }
    .form-crt{
        margin: 20px auto;
        max-width: 400em;
        width: 300px;
        label{
            width: 100%;
            line-height: 30px;
            display: block;
            font-weight: $medium;
            color: $greyBold;
            a.passForget{
                color: $cian;
                cursor: pointer;
                font-size: $p-small;
            }
        }
        
        input[type="text"], input[type="password"]{
            width: 100%;
            padding: 6px;
            border-radius: 6px;
            border-width: 1px;
            border-style: solid;
            border-color: $grey-light;
            &:hover{
                border-color: $greyBold;
                transition: 0.3s;
            }
        }
        
        input::placeholder{
            color: $grey-light;
            font-weight: $medium;
            letter-spacing: 1px;
        }
    }
}

.section-notices{
    background-image: url(../../../assets/images/bgLogin1.2.jpg);
    background-size: cover;
    text-align: left;
    padding: 30px 50px 30px 40px;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#2c2c2c,#141010);
        opacity: .6; 
    }
    .info-log{
        max-width: 480px;
        padding: 10px 25px;
        z-index: 1000;
        h2{
            font-size: $h2;
            font-weight: $greyBold;
            color: $white;
            margin: 6px 0;
        }
        p{
            font-size: $p-normal;
            color: $white;
            margin: 20px 0;
            line-height: 20px;
        }
    }
}