<div class="container-fluid login-page">
    <div class="row">
        <div class="section-login col-lg-6">
            <!-- <div class="row">
                <div class="col-12">
                    <div class="head-login">
                        <img src="assets/images/logo-clippy.png" alt="Logo" width="55px">
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-12">
                    <form action="" class="login-form">
                        <h3 class="h5">Accede a tu cuenta:</h3>
                        <div class="form-crt">
                            <label for=""><fa-icon [icon]="faUser"></fa-icon> Usuario</label>
                            <input type="text" placeholder="email@email.com" autofocus required>
                        </div>
                        <div class="form-crt">
                            <label for=""><fa-icon [icon]="faLock"></fa-icon> Contraseña</label>
                            <input type="password" placeholder="XXXXXXXXX" required>
                        </div>
                        <div class="form-crt">
                            <label for=""><a class="passForget" href="#"><fa-icon [icon]="faQuestion"></fa-icon> He olvidad mi contraseña</a></label>
                            <input class="btn btn-xl btn-red" type="submit" value="Entrar">
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="section-notices col-lg-6">
            <div class="info-log">
                <h2>Lorem Ipsum</h2>
                <p>Lore reqo cullaa juk primare lox, Lore reqo cullaa juk primare lox cullaa juk primare lox utel. Lore reqo cullaa juk primare lox cullaa juk primare lox utel, Lore reqo cullaa juk primare lox cullaa juk primare lox utel. Lore reqo cullaa juk primare lox cullaa juk primare lox utel.</p>
                <div class="row">
                    <div class="col-lg-2">
                        <button class="btn btn-l btn-red">Blog</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-l btn-white">+ info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>