<div class="container-fluid">
    <div class="row">
        <div class="section-login col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="head-login">
                        <img src="assets/images/logo-clippy.png" alt="Logo" width="90px">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form action="" class="login-form">
                        <h3 class="h5">Accede a tu cuenta:</h3>
                        <div class="form-crt">
                            <label for="">Usuario</label>
                            <input type="text" placeholder="email@email.com" autofocus>
                        </div>
                        <div class="form-crt">
                            <label for="">Contraseña</label>
                            <input type="password" placeholder="XXXXXXXXX">
                        </div>
                        <div class="form-crt">
                            <label for=""><a class="passForget" href="#">He olvidad mi contraseña</a></label>
                            <input class="btn-red" type="submit" value="Entrar">
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="section-notices col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="img-banner">
                        <div class="image-ntc">
                            <img src="" alt="imagen noticia">
                        </div>
                        <div class="caption-ntc">
                            <h2>Titulo de la noticia</h2>
                            <p>Texto de la noticia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>