body{
    background: $white-bone;
}
.section-login{
    background-color: $white-bone;
    .login-form{
        background-color: $white;
    }
}
.section-notices{
    background-color: #00a2ff;//no final
}